* {
  outline: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: normal 12px CorpoS,宋体, Arial, Helvetica, sans-serif, Verdana;
}

a {
  color: #15387c;
  text-decoration: none;
}

ul#topnap a {
  color: white;
  font-size: 16px;
}

h3,
h4,
h5 {
  color: #646464;
}

p {
  text-indent: 2em;
}

.topBg {
  width: 962px;
  height: 157px;
  margin: 0 auto 20px;
}

#bottom {
  margin: 0 auto 20px;
  width: 950px;
  height: 10px;
}

#map1 {
  background: url("/static/mcview/images/china_map.png") no-repeat;
  width: 700px;
  height: 600px;
  margin: 20px auto;
}

#map1 .area {
  float: left;
  width: 120px;
  font-weight: bold;
}

#map1 #dealer_2 {
  position: relative;
  left: 449px;
  top: 206px;
}

#map1 #dealer_5 {
  position: relative;
  left: 403px;
  top: 130px;
}

#map1 #dealer_8 {
  position: relative;
  left: 144px;
  top: 325px;
}

#map1 #dealer_11 {
  position: relative;
  left: 139px;
  top: 331px;
}

#map1 #dealer_14 {
  position: relative;
  left: -206px;
  top: 266px;
}

#map1 #dealer_20 {
  position: relative;
  left: 391px;
  top: 399px;
}

#map1 #dealer_29 {
  position: relative;
  left: 122px;
  top: 310px;
}

#map1 #dealer_45 {
  position: relative;
  left: 139px;
  top: 224px;
}

#map1 #dealer_30 {
  position: relative;
  left: 170px;
  top: 353px;
}

#map1 #dealer_21 {
  position: relative;
  left: 463px;
  top: 392px;
}

#map1 #dealer_49 {
  position: relative;
  left: 189px;
  top: 226px;
}

#map1 #map1_title {
  font-weight: bold;
  font-size: 17px;
  position: relative;
  left: -78px;
  top: 46px;
}

#map1 #map1_best {
  font-weight: bold;
  font-size: 14px;
  position: relative;
  left: -561px;
  top: 91px;
}

#map1 #map1_worst {
  font-weight: bold;
  font-size: 14px;
  position: relative;
  left: -85px;
  top: 205px;
}

#map2 {
  background: url("/static/mcview/images/china-map.jpg") no-repeat;
  position: relative;
  width: 700px;
  height: 600px;
  margin-left:150px;
}

#map2 #map2_title {
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  left: 280px;
  top:100px;
  cursor: pointer;
}

#map2 #map2_best {
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  left: -120px;
  top: 150px;
  cursor: pointer;
}

#map2 #map2_worst {
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  left: -120px;
  top: 280px;
  cursor: pointer;
}

#map2 .area {
  width: 150px;
  font-weight: bold;
}

#map2 #dealer_3 {
  position: absolute;
  left: 500px;
  top: 310px;
}

#map2 #dealer_42 {
  position: absolute;
  left: 500px;
  top: 360px;
}
#map2 #dealer_86 {
  position: absolute;
  left: 570px;
  top: 140px;
}
#map2 #dealer_124 {
position: absolute;
left: 450px;
top: 220px;
}
#map2 #dealer_148 {
position: absolute;
left: 280px;
top: 200px;
}
#map2 #dealer_161 {
position: absolute;
top: 450px;
left: 480px;
}
#map2 #dealer_180 {
position: absolute;
top: 430px;
left: 400px;
}
#map2 #dealer_200{
position: absolute;
left: 330px;
top: 380px;
}

#map2 #dealer_160 {
position: absolute;
top: 400px;
left: 380px;
color:blue;
}
#map2 #dealer_85 {
position: absolute;
top: 210px;
left: 350px;
color:blue;
}
#map2 #dealer_2{
position: absolute;
left: 500px;
top: 335px;
color:blue;
}
#map2 #dealer_231{
position: absolute;
top: 330px;
left: 160px;
color:blue;
}
#map2 #dealer_232{
position: absolute;
top: 310px;
left: 150px;
}

img {
  border: 0;
}

.container {
  line-height: 20px;
  width: 960px;
  margin: 20px auto 20px 0;
  border: 1px solid #c8c8c8;
}

.container .title {
  background: url("/static/mcview/images/su02_tBg.jpg") repeat-x scroll left top transparent;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin-bottom: 10px;
  border:1px #c8c8c8 solid;
}

.container h3 {
  background: url("/static/mcview/images/sub_02tIcon.jpg") no-repeat scroll left center transparent;
  color: #00adef;
  font: 14px Tahoma, Arial, sans-serif;
  margin-top: 0px;
  margin-left: 16px;
  padding-left: 22px;
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}

.container .txt {
  float: left;
  width: 300px;
  padding-left: 40px;
  font-size : 13px;
}

.container .txt .li_info {
  margin: 0 0 5px 20px;
}

.container .chart {
  float: right;
}

.container .get_query {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.container #query_result table {
  width: 100%;
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px 0 0 1px;
}

.container #query_result table th,
.container #query_result table td {
  border: solid #999999;
  border-width: 0 1px 1px 0;
  padding: 2px 5px;
  text-align: center;
}

.container #query_result table th {
  color: #646464;
}

.container .download #get_query {
  width: 240px;
  float: right;
  margin: 0 auto;
}

.container .download #get_query .button {
  margin-left: 40px;
}

.container .download #area_select {
  float: left;
  width: 260px;
  padding-left: 60px;
}

.container .download #score_type {
  float: right;
  width: 200px;
}

.container .download .submit_button {
  text-align: center;
  margin: 20px auto;
}

.container .info {
  margin-bottom: 20px;
}

.container .info .title {
  background: url("/static/mcview/images/su02_tBg.jpg") repeat-x scroll left top transparent;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.container .info h3 {
  background: url("/static/mcview/images/sub_02tIcon.jpg") no-repeat scroll left center transparent;
  color: #00adef;
  font: 14px Corpos,宋体,Tahoma, Arial, sans-serif;
  margin-top: 0px;
  margin-left: 16px;
  padding-left: 22px;
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}

.container .info .content {
  margin: 0 auto;
  width: 400px;
}

.container .info .content table {
  margin: 0 auto;
  width: 300px;
}

.container .info .content table tr {
  height: 30px;
}

.container .info .content div {
  margin: 10px 0;
  text-align: center;
}

.container .info .content div.right {
  float: right;
  width: 200px;
}

.container .info .content div.left {
  float: left;
  width: 200px;
}

.container .info #get_query {
  float: left;
  width: 150px;
  /*padding-left: 3%;*/
}

.container .info #area_select {
  float: left;
  width: 200px;
}

.container .info #score_type {
  float: left;
  width: 200px;
  /*padding-left: 10%;*/
}

.container .info .submit_button {
  text-align: center;
  margin: 20px auto;
}

.logo {
  width: 950px;
  margin: 0 auto;
}

#right_logo {
  float: right;
}

.clear {
  clear: both;
}

#header {
  background: url("/static/mcview/images/loginBg.png") no-repeat scroll 0 0 transparent;
  width: 877px;
  height: 372px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 20px;
}

.login,
.resetpwd {
  margin: 0 auto;
  text-align: center;
}

.login .input {
  border: 1px solid #48615b;
  height: 14px;
  margin-bottom: 10px;
  padding: 5px;
  width: 165px;
}

.login .verifycode {
  width: 65px;
}

.errormsg {
  color: #ff0000;
  font-size: 12px;
}
.change_password_tip{
	
}
.banner {
  background: url("/static/mcview/images/banner_peugeot.jpg") left top no-repeat;
  height: 120px;
  margin: 3px auto;
}

#nav {
  font-size: 12px;
  width: 100%;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 3px;
  margin-top: 30px;
  position: relative;
}

#nav img {
  border: none;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav .nav_m li {
  float: left;
  list-style: none;
  margin-left: 2px;
}

#nav .nav_m li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  display: block;
  background: url("/static/mcview/images/navDe_Lt.gif") left top no-repeat;
}

#nav .nav_m li a:hover {
  background: url("/static/mcview/images/navAc_Bg.gif");
  cursor: pointer;
}

#nav .nav_m li a span {
  display: block;
  height: 33px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 33px;
  vertical-align: middle;
  background: url("/static/mcview/images/navDe_Rt.gif") top right no-repeat;
}

#nav .nav_m li a span:hover {
  background: url("/static/mcview/images/navAc_Rt.gif") right top no-repeat;
}

#nav .nav_m li a.current {
  background: url("/static/mcview/images/navAc_Bg.gif");
}

#nav .nav_m li a.current span {
  background: url("/static/mcview/images/navAc_Rt.gif") right top no-repeat;
}

#nav .nav_m .nav_hom {
  width: 43px;
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  display: block;
  float: left;
  background: none;
}

#nav .nav_m .nav_hom a.current {
  width: 43px;
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  background: url("/static/mcview/images/homeIconAc.jpg") center center no-repeat;
}

#nav .nav_m .nav_hom a.current span {
  background: url("/static/mcview/images/navAc_Rt.gif") right top no-repeat;
}

#nav .nav_m .nav_hom a {
  width: 43px;
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  background: url("/static/mcview/images/homeIcon.jpg") center center no-repeat;
  display: block;
  padding-left: -200000px;
}

#nav .nav_m .nav_hom a:hover {
  width: 43px;
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  background: url("/static/mcview/images/homeIconAc.jpg") center center no-repeat;
}

.dataCk {
  padding-left: 8px;
}

.userInf {
  text-align: left;
  float: left;
  display: inline-block;
  font-family:Corpos,宋体, Arial, Helvetica, sans-serif;
}

.userInf p {
  color: #333333;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.userInf a {
  margin-right: 2px;
}

.userInfOp {
  color: #999999;
}

.carLogo {
  right: 0;
  top: -10px;
  position: absolute;
}

.lo_go {
  background: none;
  padding: 0;
  padding-top: 2px;
  display: block;
  float: left;
  margin-right: 12px;
}

.lo_go a {
  background: none;
}

#change_pw {
  margin-left: 100px;
}

h3 {
  font-size: 14px;
  color: #646464;
}

div.index .li_text {
  margin: 5px 0 5px 30px;
}

div.index table {
  width: 900px;
  margin: 5px auto;
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px 0 0 1px;
}

div.index table th,
div.index table td {
  border: solid #999999;
  border-width: 0 1px 1px 0;
  padding: 2px 5px;
  text-align: center;
}

div.index table th {
  color: #646464;
}

div.parts h3 {
  margin-left: 30px;
  font-size: 14px;
  font-weight: bold;
  font-color: #646464;
}

div.parts table {
  width: 100%;
}

div.parts table th,
div.parts table td {
  text-align: left;
}

div.parts table .blue {
  background: #3a81bf;
}

div.parts table .yellow {
  background: #ffe25a;
}
div.parts table .gray {
  background: #e0e0e0;
}
div.parts .index_part_num {
  width: 25px;
}

div.Score table {
  width: 500px;
  margin: 5px auto;
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px 0 0 1px;
}

div.Score table th,
div.Score table td {
  border: solid #999999;
  border-width: 0 1px 1px 0;
  padding: 2px 5px;
  text-align: center;
}

div.Score table th {
  color: #646464;
}

div.Score .li_info {
  margin: 8px 0 8px 10px;
}

div.Score .hide_info {
  display: none;
  margin: 8px 0 8px 30px;
  padding: 20px;
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px;
}

div.Score .more_info {
  color: #385b6f;
  cursor: pointer;
  width: 200px;
}

div.Score .level3 {
  margin-left: 25px;
}

div#part_view table {
  width: 100%;
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px 0 0 1px;
  margin-bottom: 15px;
}

div#part_view table th,
div#part_view table td {
  border: solid #999999;
  border-width: 0 1px 1px 0;
  padding: 2px 5px;
  text-align: center;
}

div#part_view table th {
  color: #646464;
}

.index h4 {
  padding: 5px 0 5px 20px;
}

.part_view {
  margin: 10px;
}

.part_view .index_view .left_chart {
  margin-top: 80px;
  margin-left: 20px;
}

.part_view .left_chart {
  float: left;
  width: 350px;
}

.part_view .right_chart {
  float: right;
  width: 500px;
}

.part_view table {
  width: 100%;
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px 0 0 1px;
  margin-bottom: 15px;
}

.part_view table th,
.part_view table td {
  border: solid #999999;
  border-width: 0 1px 1px 0;
  padding: 2px 5px;
  text-align: center;
}

.part_view table th .score,
.part_view table td .score {
  float: left;
  margin-left: 5px;
}

.part_view table th {
  color: #646464;
  height: 85px;
}

.part_view table .score_bar {
  float: left;
  background: #646464;
  padding: 0 1px;
  color: #ffffff;
}
#sidebar_menu{
  position: absolute;
  left: 0px;
  top: auto;
  bottom: auto;
  z-index: 2;
  width:25px;
  /*border: 1px solid #afafaf;*/
  display: block;
  height: 180px;
  cursor: pointer;
}
#sidebar_menu :first-child{
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}
#sidebar_menu :last-child{
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
   
}
#sidebar_menu .active{
	background: #8f8f8f;
}
#sidebar_menu .noneactive{
	background: #cfcfcf;
}
#sidebar {
  position: absolute;
  left: 0px;
  top: auto;
  bottom: auto;
 /* margin-left: -160px;*/
  z-index: 2;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  background-color: #cfcfcf;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #afafaf;
  display: block;
  height: auto;
  opacity: 0.6;
  width: 130px;
}

#sidebar #tree_view,#sidebar #tree_view2{
  background-color: #cfcfcf;
  margin-right: 5px;
  padding:10px 5px;
}

#sidebar #tree_view ul,#sidebar #tree_view2 ul {
  background-color: #cfcfcf;
}

#sidebar .sidebar_title {
  padding: 5px 14px 5px 0;
  float: right;
  width: 5px;
  text-align: center;
}

#sidebar a {
  cursor: pointer;
}

.current_dealer {
  padding: 5px;
  font-size: 14px;
}

#part_suggested table {
  width: 80%;
  overflow: scroll;
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px 0 0 1px;
}

#part_suggested table th,
#part_suggested table td {
  border: solid #999999;
  border-width: 0 1px 1px 0;
  padding: 2px 5px;
  text-align: center;
}

#part_suggested table td {
  min-height: 40px;
}

#part_suggested table th {
  color: #646464;
}

#part_suggested .left {
  float: left;
  width: 425px;
}

#part_suggested .left img {
  margin: 30px 150px;
}

#part_suggested .right {
  float: right;
  width: 425px;
}

#part_suggested .cp_summary {
  margin: 20px;
}

#dealer .dealer_table {
  max-height: 500px;
  overflow: auto;
  width: 200px;
}

#dealer table {
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px 0 0 1px;
  margin-bottom: 15px;
}

#dealer table td {
  height: 20px;
}

#dealer table th,
#dealer table td {
  border: solid #999999;
  border-width: 0 1px 1px 0;
  padding: 2px 5px;
  text-align: center;
}

#dealer table th {
  height: 30px;
  color: #646464;
}

#dealer .good {
  float: left;
  margin-left: 30px;
}

#dealer .general {
  float: left;
  margin: 0 100px;
}

#dealer .bad {
  float: bad;
}

#area_biaoxian .img {
  margin: 20px 0;
  text-align: center;
}

#area_biaoxian .show {
  text-align: center;
  cursor: pointer;
  width: 130px;
  margin: 10px auto;
  color: #0a8aaf;
}

#area_biaoxian .small {
  margin: 0 auto;
  width: 70%;
  display: none;
  border: 1px solid #0a8aaf;
  color: #ffffff;
}

.position_table {
  margin: 0 auto;
  width: 80%;
  overflow: scroll;
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px 0 0 1px;
}

.position_table th,
.position_table td {
  border: solid #999999;
  border-width: 0 1px 1px 0;
  padding: 2px 5px;
  text-align: center;
}

.position_table th {
  color: #646464;
}

#status table {
  margin: 0 auto;
  width: 80%;
  overflow: scroll;
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px 0 0 1px;
}

#status table th,
#status table td {
  border: solid #999999;
  border-width: 0 1px 1px 0;
  padding: 2px 5px;
  text-align: center;
}

#status table th {
  color: #646464;
}

div#cp_list_score {
  margin-top: 50px;
  width: 100%;
}

div#cp_list_score table {
  margin: 0 auto;
  border-collapse: collapse;
  border: solid #999999;
  border-width: 1px 0 0 1px;
}

div#cp_list_score table th,
div#cp_list_score table td {
  border: solid #999999;
  border-width: 0 1px 1px 0;
  padding: 2px 5px;
  text-align: center;
}

div#cp_list_score table th {
  color: #646464;
}

div#cp_list_score .head_div {
  height: 50px;
  width: 100%;
  text-align: center;
}

div#cp_list_score .area_list {
  float: left;
  width: 10%;
}

div#cp_list_score .score_list {
  float: left;
  width: 90%;
  overflow-x: auto;
  overflow-y:hidden;
}

div#cp_list_score .score_list .scroll {
  float: left;
  width: 1460px;
  margin-bottom: 30px;
}

div#cp_list_score .score_list .scroll .area_score_list {
  float: left;
  width: 150px;
  margin: 0 5px;
}

div#cp_list_score .score_list .scroll .area_score_list .left_bar {
  width: 75px;
  float: left;
  text-align: right;
}

div#cp_list_score .score_list .scroll .area_score_list .left_bar .score_bar {
  float: right;
  background: #646464;
  padding: 0 1px;
}

div#cp_list_score .score_list .scroll .area_score_list .right_bar {
  width: 63px;
  float: right;
  text-align: left;
}

div#cp_list_score .score_list .scroll .area_score_list .right_bar .score_bar {
  float: left;
  background: #646464;
  padding: 0 1px;
}

#jianyi img {
  margin: 10px 0;
}

#default img {
  margin: 10px;
}

#tabs {
  border: none;
}

#tabs #tabs_ui {
  background: none;
  border: none;
}

#tabs #tabs_ui .ui-state-active {
  border: none;
}

#tabs #tabs_ui .ui-state-default {
  border: none;
}

#tabs #tabs_ui .ui-tabs-selected a {
  background: url("/static/mcview/images/tth2_ac_Bg.jpg") repeat-x scroll left top transparent;
  border: 1px solid #0a8aaf;
  color: #ffffff;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 28px;
  vertical-align: middle;
  font-family: Corpos,宋体,Arial, Helvetica, sans-serif, 微软雅黑;
}

#tabs #tabs_ui li {
  margin-left: 15px;
}

#tabs #tabs_ui li a {
  background: url("/static/mcview/images/tth2_ac_Bg.jpg") repeat-x scroll -30px 100% transparent;
  border: 1px solid #c8c8c8;
  color: #757575;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding: 0 28px;
  text-decoration: none;
  vertical-align: middle;
}

#tabs #tabs_ui li a:hover {
  background-position: 0 0;
  color: #ffffff;
}

.tree_title {
  background: url("/static/mcview/images/tth2_ac_Bg.jpg") repeat-x scroll left top transparent;
  border: 1px solid #c8c8c8;
  color: #00adef;
  float: left;
  font-family: Corpos,宋体,Arial, Helvetica, sans-serif, 微软雅黑;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 28px;
  vertical-align: middle;
}
.bNe_new{
	background: url("/static/mcview/images/b_BG.jpg") left bottom no-repeat;
  	cursor: pointer;
  height: 44px;
  line-height: 44px;
  width:99px;
  vertical-align: middle;
  display: inline-block;
  font-family:Corpos,宋体, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.bNe_new span {
  height: 44px;
  line-height: 44px;
}
#infobox a{
	text-decoration: none;
}
#infobox span{ display: none; }
.tip{
	font-size: 12px;
	display: block !important;
	position:absolute;
	left:-110px;
	border:1px solid #C8C8C8;
	background: #F2F2F2;
	margin-top:45px !important;
	color:#000;
	padding:3px;
	white-space: nowrap;
	font-family:Corpos,宋体, Arial, Helvetica, sans-serif;
	
} 
.bAr,
.bNe {
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  vertical-align: middle;
  display: inline-block;
  font-family: Corpos,宋体,Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.bAr span,
.bNe span {
  background: url("/static/mcview/images/bSide.jpg") right center no-repeat;
  padding-right: 14px;
  height: 44px;
  line-height: 44px;
  display: inline-block;
}

.bAr {
  background: url("/static/mcview/images/bBg.jpg") left top no-repeat;
  padding-left: 33px;
}

.bNe {
  background: url("/static/mcview/images/bBg.jpg") left bottom no-repeat;
  padding-left: 13px;
}

#area_tree_view {
 /* margin-top: 10px;*/
}

#score_tree_view {
 /* margin-top: 10px;*/
}
.select_all_btn_cls{
	padding:2px;
	background:#e0e0e0;
}
#infobox a{
	position:relative;
}
#infobox span{ display: none; }
/*#infobox a:hover span{display: block;position: absolute;left:320px;} */
.cp_th_cls{
	min-width:60px;
	_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>60?"60px":"");
}
#query_result{
	width:950px;
	height:300px;
/*	border-top:1px solid #999999;*/
	position:relative;
	overflow: auto;
}
#query_result td,th{
			height:30px;
			white-space: nowrap;
			}
			#query_result td div{
				min-width:60px;
				_width:60px;
			}
/*		.fix_column_div_cls {
			position: absolute;
			overflow:hidden;
			width:300px;
			top:0px;
			left:0px;
			height:31px;
			border-bottom:1px #999999 solid;
		}
		.fix_column_div_cls table{
			width:100%;
			border-left:1px solid #999999;
		}
		.fix_column_div_cls table td{
			text-align:center;
			vertical-align:middle;
			border-right:1px #999999 solid;
			height:30px;
		}
		.fix_column_data_cls{
			position: absolute;
			overflow:hidden;
			width:300px;
			top:31px;
			left:0px;
			height:270px;
			}
		.fix_column_data_cls table{
			width:100%;
			border-left:1px solid #999999;
		}
		.fix_column_data_cls table td{
			text-align:center;
			vertical-align:middle;
			border-right:1px #999999 solid;
			border-bottom:1px #999999 solid;
			height:30px;
		}
		.fix_column_data_cls table td:first-child,.fix_column_div_cls table td:first-child{
			min-width:90px;width:90px;
			_width:90px;
		}
		.fix_row_div_cls{
			position:absolute;
			overflow:hidden;
			width:650px;
			top:0px;
			left:300px;
			height:31px;
			border-bottom:1px #999999 solid;
		}
		.fix_row_div_cls table{
			width:100%;
			
		}
		.fix_row_div_cls table th,.fix_row_div_cls table td{
			text-align:center;
			vertical-align:middle;
			border-right:1px #999999 solid;
			min-width:60px;
		}
			.daga_content_cls{
			position:absolute;
			overflow:auto;
			width:650px;
			top:31px;
			left:300px;
			height:270px;
		}
		.daga_content_cls table{
			width:100%;
		}
		.daga_content_cls table td{
			text-align:center;
			vertical-align:middle;
			border-right:1px #999999 solid;
			border-bottom:1px #999999 solid;
			min-width:60px;
		}
*/

/*四向图环节css*/
.fourq_table_css{
	position: absolute;
	z-index:4;
	right: 5px;
	top: 5px;
	width:159px;
	height:122px
}
.fourq_table_css table{
	width:100%;
	border-left: 1px gray solid;
	border-bottom:1px gray solid;
}
.fourq_table_css table th{
	background-image:url(/static/mcview/images/tableBg.jpg);
	background-repeat:repeat-x;
	background-position: 0 -25px; 
	color:white;
	vertical-align: middle;
	text-align: center;
	border-top: 1px white solid;
	border-right:1px white solid;
	height:20px;
}
.fourq_table_css table tr:first-child th{
	background-image:url(/static/mcview/images/tableBg.jpg) !important;
	background-repeat:repeat-x;
	background-position: 0 0px; 
}

.fourq_table_css table td{
	vertical-align: middle;
	text-align: center;
	border-top: 1px gray solid;
	border-right:1px gray solid;
}
.container h4{
	font-size: 14px;
	padding-left:20px;/*
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#abffff,endcolorstr=white,gradientType=1);
	background:-moz-linear-gradient(left, #abffff, white);
	background:-webkit-gradient(linear, 0 0,right 0, from(#abffff), to(#ffffff));
	width:300px;*/

}
