@{
    ViewBag.Title = "首页";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#home').addClass('active');
        });
    </script>    
}
<div class="jumbotron">
    <h1 class="text-center">梅赛德斯-奔驰销售神秘采购调研</h1>
    <p class="lead text-center">梅赛德斯-奔驰销售神秘采购调研</p>
</div>
